.root {
    background-color: rgb(49, 135, 138);
    text-align: center;
    padding: 2rem;
}
.text {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    font-size: 2rem;
    color: antiquewhite;
    padding: 2rem;
}
.start {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 20px auto;
    height: 40px;
    background-color: brown;
    color: #fff;
    text-decoration: none;
    line-height: 2rem;
    font-size: 2rem;
    padding: 0.3rem;
}